{% extends 'inheritance/base.html' %}
{% block title %}Pierwsza strona z dziedziczeniem{% endblock title %}
{% block header %}Pierwsza strona z dziedziczeniem - nagłówek{% endblock header %}
{% block body %}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim harum facere quo, non magni quas, optio eius eos iusto laudantium recusandae ratione distinctio aliquam mollitia sit nobis facilis dicta deleniti modi beatae dolorem, possimus quisquam fugiat doloribus! Eius ex explicabo, inventore architecto ipsum fuga quidem ea velit consequatur illo magnam culpa quasi. Vitae quod repellendus, iste deserunt nam odio aliquid ea odit aliquam perspiciatis, maxime sunt animi ullam illo veritatis? Quibusdam error eius autem, natus nulla, veritatis similique explicabo vel sequi eligendi atque saepe numquam reprehenderit, aspernatur adipisci. Nulla debitis aut rem tenetur blanditiis non nemo repellendus, sapiente a ea.</p>
    Przejdź do strony drugiej
    <p><a href="{% url 'inheritance:second' %}">Link do strony drugiej</a></p>
{% endblock body %}